body {
    margin: 0;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

* { box-sizing: border-box; }

figure {
    margin: 0;
    img {
        margin: 0 auto;
        display: block;
    }
}

.main-container { 
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.horizontal-coordinate {
    position: fixed;
    z-index: 100;
    top: 50px;
    left: 50px;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

.extra-long-container {
    width: 7000px;
    height: 100%;
    position: relative;
    background: slateblue;

    .flower1 {
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 1800px;
        transform: translate(0, -50%);

        img {
            width: 300px;
            height: auto;
        }
    }
}